/** * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/) * http://cssreset.com */
	html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,time, mark, audio, video {	
	margin: 0;	
	padding: 0;	
	border: 0;	
	font-size: 100%;	
	font: inherit;	
	vertical-align: baseline;}
	
	/* HTML5 display-role reset for older browsers */
	article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {	
	display: block;}
	
	body {	
	line-height: 1.5;
	}
	
	ol, ul {	
	list-style: none;
	}
	
	blockquote, q {	
	quotes: none;
	}
	
	blockquote:before, blockquote:after,q:before, q:after {	
	content: '';	
	content: none;
	}
	
	table {	
	border-collapse: collapse;	border-spacing: 0;
	}	
	
	/* end reset*/
	
/*	Color scheme "hero image"/* Color Theme Swatches in Hex 
.newheroscheme-1-hex { color: #2C1412; } brown
.newheroscheme-2-hex { color: #D5D9E6; } light gray
.newheroscheme-3-hex { color: #000000; }black
.newheroscheme-4-hex { color: #38090D; } burgundy
.newheroscheme-5-hex { color: #8EA1B5; } blue gray
 */
	
	
	
	/* Portfolio default styles*/
	
	body {
		font-family: 'Playfair Display', serif;
		font-size: 1em;
		color: white;
		background: #D5D9E6;
		padding: 1%;
		
		}
	#hero {

		font-family: 'Playfair Display', Book Antiqua, serif;
		font-size: 24px;
		color: white;
		background-image: url("img/TracyLLyonatWSUV.png" );
		background-size: cover;
		background-position: right;
		
		width: 100%;
		
		height: 1000px;
		color: #A63C63;

	}	
	h1.h1text {
		text-align: left;
		position: relative;
		top: 86%;
		color: black;
		background-color: #8EA1B5;

	}
	#tagline {
		position: relative;
		top: 86%;
		color: black;
		font-style: italic;
		font-weight: bold;
		text-align: left;
		background-color: #8EA1B5;
		
	}
		
	#wrapper {
			width: 100%;
			margin:2% auto;
			

						
		}

	header {
		font-family: 'Acme', sans-serif;
		font-size: 1.5em;
		
		margin: auto;
		color: white;
		text-align: center;
		
		}
	#main {
		width: 100%;
		margin:  auto;
		
		padding: 3%;
		
	}
		#block1 {
			display: block;
			margin: 3% auto;
			padding: 3%;
			
			
			
		}
		#block2 {
			display: block;
			margin: 3% auto;
			padding: 3%;
			
		}
		#block3 {
			display: block;
			margin: 3% auto;
			padding: 3%;
			
		}
		#block4 {
			display: block;
			margin: 3% auto;
			padding: 3%;
			
		}
		
		.imagebox {
			display: block;
			margin: auto;
			
		}
	
		.imagebox img {
			width: 100%;
		}
		
	h1  {
		font-family: 'Playfair Display', Book Antiqua, serif;
		font-size: 3em;
		font-weight: bold;
		color: white;	
		}
		
		
		
	h2 {
		font-family: 'Arimo', sans-serif;
		font-size: 1.5em;
		font-weight: bold;
		color: white;
		text-align: center;
		
	}
	
	h3 {
		font-family: 'Acme', sans-serif;
		font-size: 1.25em;
		font-style: italic;
		text-align: center;
		
	}
	ul {
		list-style-type: square;
		}
	span {
		text-align: center;
		font-style: italic;
		font-weight: bold;
	}
	
	a:link {
		color: white;
	}
	a:visited {
		color: #38090D;
	}
		
	nav {
			display: none;
			width: auto;
			margin: 1% auto;
			white-space: nowrap;
		}

   #ham-icon  {
    	display: block;
    	font-size: 1.5em;
    	width: auto;
    	margin: 0 auto;
    }

   #close-icon  {
    	display: block;
    	font-size: 1.5em;
    	width: auto;
    	margin: 1% auto;
    }

    a.menu-icon:link, a.menu-icon:visited {
       color: black;
       text-decoration: none;
    }

    a.menu-icon:hover, a.menu-icon:focus {
       color: #38090D;
    }

	nav ul {
			
			display: grid;
			grid-template-columns: 1fr;
			grid-gap: 1%;
		}
		
	nav li {
		display: block;
		
		}

	
	nav li a {
			display: block;
			text-align: center;
			text-decoration: none;
			padding:1%;
			
		}
	
	
	nav li a:link, nav li a:visited  {
			color: white;
			background: #000000;
			
		}
	
	nav li a:hover, nav li a:focus {
			font-size: 2em;
			background: #38090D;
			
		}
		
	footer {
		font-size: .75em;
		text-align: center;
		color: black;
	}
	
	/* tablet styles */
	@media only screen and (min-width: 550px) and (max-width: 700px) {
	
	#main{
		display: grid;
		grid-template-columns: 1fr;
		grid-gap: 2%;
		grid-template-areas:
		"box1"
		"box2"
		"box3"
		"box4";	
	}
		
		nav ul {
			grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
		}	

	  	nav {
			display: block !important;
		}

		#ham-icon  {
	    	display: none !important;
	    }

	    #close-icon  {
    		display: none;
          }
	
		#block1 {
			grid-area: box1;
			
		}
		#block2 {
			grid-area: box2;
			
		}
		#block3 {
			grid-area: box3;
			
		}
		#block4 {
			grid-area: box4;
			
		}
	}
	
	
	/* desktop styles */
	@media only screen and (min-width: 701px) {
	
		#main{
			display: grid;
			grid-template-columns: 1fr 1fr;
			grid-gap: 2%;
			grid-template-areas:
			"box1 box2"
			"box3 box4";	
		}
		#main {
			width: 80%;
			max-width: 1000px;
		}

				
		 nav ul {
				grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
			}

		nav {
			display: block !important;
		}

	    #ham-icon  {
	    	display: none !important;
	    }

	    #close-icon  {
    		display: none;
          }
		#block1 {
			grid-area: box1;
		}
		#block2 {
			grid-area: box2;
		}
		#block3 {
			grid-area: box3;
		}
		#block4 {
			grid-area: box4;
		}
		
	}


